Footer{ border: 2px solid red;
	height:50px;
	background-color:deepskyblue;
	width:100%;
	margin-up: 20%;
	text-align:center;
	font-size:125%;
	}
	
Header{ border: 3px solid red;
	Background-color:deepskyblue;
	width:60%;
	margin-left:20%;
	margin-right:20%;
	text-align:center;
	}
body { background-color:peachpuff;}
Nav ul li{display:inline;
}
a:link {color:white;}
a:hover{color:red;}
